/* src/Footer.css */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;

  }
.h4 {
    font-weight: bold;
}
.left-align {
    margin-left: -25px; /* Adjust this value as needed */
  }
  .social-icons a {
    color: #fff; /* Ensure the icons are white */
    transition: color 0.3s ease;
    margin-right: 15px;

  }
  
  .social-icons a:hover {
    color: #ccc; /* Change the color on hover */
  }