@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, rgb(248, 212, 114), rgba(255, 119, 0, 0.926));
  min-height: 100vh;
  margin: 0;
  color: white;
  font-family: Arial, sans-serif;
}

.cover-image {
  border: 2px solid #FAFB63;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%; /* Ensure the image is responsive */
  height: auto;
}

.custom-heading {
  color: #FAFB63;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 25px; /* Ensure no default margin */
}

.btn-main {
  color: #ffffff;
  background-color: #ff5050a1;
  margin-top: 15px;
  border-radius: 30px;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  padding: 10px 20px;
}

.btn-main:hover {
  background-color: rgba(232, 57, 57, 0.534);
  
}

.service-card {
  padding: 60px; /* Reduced padding */
  margin: 0; /* Remove margin to eliminate spacing between cards */
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  background-color: #7BBB84; /* Default background color */
}

.service-card:hover {
  transform: translateY(-5px) scale(1.02); /* Move card up slightly and scale it */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); /* Add a stronger shadow on hover */
  background-color: #6CAE6A; /* Darker background color on hover */
}

.bg-service1 {
  background-color: #7BBB84;
}

.bg-service2 {
  background-color: #FF738E;
}

.bg-service3 {
  background-color: #A548FF;
}

.bg-service4 {
  background-color: #FFA53B;
}

.bg-service5 {
  background-color: #6c2ac2;
}

.bg-service6 {
  background-color: #FFD93B;
}

.service-card h2 {
  font-size: 16px; /* Smaller font size */
  font-weight: bold;
  margin-bottom: 10px;
}

.img-fluid {

  max-width: 96%;
  height: auto;
  border-radius: 8px;
}


  
