@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  min-height: 100vh;
  margin: 0;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.cover-image {
  border: 2px solid #12FF46;
  border-radius: 15px;
  box-shadow: 4px 5px 7px #12ff45c7;
  width: 98%;
  height: auto;
}

.meisterwerk {
  color: white;
  text-transform: uppercase;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  animation: typing 4s steps(30, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

.banner p {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.heading {
  color: #ffffff;
  font-family: monospace;
  text-size-adjust: 54px;
  font-weight: bold;
  text-align: left;
  margin: 36px;
}

.custom-heading {
  color: #12FF46;
  font-family: 'PT Sans', sans-serif;
  text-shadow: 4px 4px 15px #12FF46;
  text-size-adjust: 60px;
  font-weight: bold;
  text-align: left;
  margin: 36px;
  /* Ensure no default margin */
}

.btn-main {
  color: #ffffffc8;
  background-color: #0000003e;
  box-shadow: 0 0 15px #12FF46; /* Corrected box-shadow syntax */
  margin-top: 15px;
  border-radius: 30px;
  font-weight: bold;
  padding: 10px 20px;
  border: 0.5px solid #12FF46; /* Ensure border is applied correctly */
}

.services-grid {
  background-color: #f5ad312c;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
}

.service-card {
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  background-color: #0000003e;
  box-shadow: 0 0 15px #12FF46;
  text-shadow: 0 0 7px #d2ffdc;
  border-radius: 15px;
  padding: 15px;
  border: 0.5px solid #12FF46; /* Ensure border is applied correctly */
  position: relative; /* For positioning the arrow */
}

.service-card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  background-color: #12ff451d;
}

.service-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}

.neon-green-arrow {
  color: #39FF14; /* Neon green color */
  font-size: 24px; /* Adjust size as needed */
  text-shadow: 0 0 5px #39FF14, 0 0 10px #39FF14, 0 0 15px #39FF14;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.img-fluid {
  max-width: 92%;
  height: auto;
  border-radius: 8px;
}

/* New section styles */
.why-us-section {
  background-color: #f5ad312c;
  border-radius: 15px;
  padding: 25px 20px;
  margin: 5px;
  margin-top: 20px;
}

.why-us-section h2 {
  background-color: #ff5050a1;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 20px;
  display: inline-block;
  margin: 5px;
  margin-bottom: 40px;
}

.reason-card {
  padding: 50px;
  border-color: #12FF46;
  box-shadow: #12FF46;
  border-width: 4px;
  height: 100%;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.reason-card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.reason-bg1 {
  background-color: #90ff3b36;
}

.reason-bg2 {
  background-color: #7bbb84bf;
}

.reason-bg3 {
  background-color: #a348ffa4;
}

.reason-card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #FAFB63;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.reason-card p {
  color: white;
  text-align: right;
}

/* Responsive adjustments */
@media (max-width: 1068px) {
  .img-fluid {
    max-width: 110%;
    margin: 10px auto;
    /* Center align the image */
    display: flex;
  }

  .reason-card {
    padding: 20px;
  }

  .reason-card h3 {
    font-size: 15px;
  }
}

@media (max-width: 792px) {
  .img-fluid {
    max-width: 95%;
    margin: 10px auto;
    /* Center align the image */
    display: block;
  }
}

.all-in-one-section {
  text-align: center;
  margin-top: 30px;
}

.all-in-one-section h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.all-in-one-section p {
  font-size: 18px;
}
